# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ======================
# Virtual Environments
# ======================
venv/
env/
.venv/
.env

# ======================
# Logs
# ======================
*.log
data/logs/

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Jupyter / ML
# ======================
.ipynb_checkpoints/
*.model
*.pkl

# ======================
# Node / UI (future)
# ======================
node_modules/
dist/
build/
